<h1><%= @event.name %></h1>

<div id="<%= dom_id @event %>">
  <p>
    <strong>Start date:</strong>
    <%= @event.start_date %>
  </p>

  <p>
    <strong>End date:</strong>
    <%= @event.end_date %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= @event.description %>
  </p>

  <p>
    <strong>Chapter:</strong>
    <%= link_to @event.chapter.name, chapter_path(@event.chapter) %>
  </p>
</div>

<%= render "breadcrumbs", event: @event %>
