<h1><%= @character.name %></h1>

<div id="<%= dom_id @character %>">
  <p>
    <strong>Name:</strong>
    <%= @character.name %>
  </p>

  <p>
    <strong>User:</strong>
    <%= @character.user.email %>
  </p>
</div>

<%= render "breadcrumbs", character: @character %>
